include README.md
include README_cn.md
include HISTORY.md
include LICENSE
include CHANGELOG.md
include docs/source/*
include tests/*
prune examples
prune develop
prune benchmarks
prune docs
global-exclude __pycache__
global-exclude .DS_Store