include README.md
include README_cn.md
include HISTORY.md
include LICENSE
include CHANGELOG.md
prune tests
prune docs
prune examples
prune develop
prune benchmarks
prune docs
global-exclude __pycache__
global-exclude .DS_Store